
/**
 * Popups
 * --------------------------------------------------
 */

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0);

  @include display-flex();
  @include justify-content(center);
  @include align-items(center);

  z-index: $z-index-popup;

  // Start hidden
  visibility: hidden;
  &.popup-showing {
    visibility: visible;
  }

  &.popup-hidden .popup {
    // @include animation-name(scaleOut);
    @include animation-name(popupOut);
    @include animation-duration($popup-leave-animation-duration);
    @include animation-timing-function(ease);
    @include animation-fill-mode(both);
  }

  &.active .popup {
    // @include animation-name(superScaleIn);
    @include animation-name(popupIn);
    @include animation-duration($popup-enter-animation-duration);
    @include animation-timing-function(ease);
    @include animation-fill-mode(both);
  }

  .popup {
    width: $popup-width;
    max-width: 100%;
    max-height: 90%;

    border-radius: $popup-border-radius;
    background-color: $popup-background-color;

    @include display-flex();
    @include flex-direction(column);
  }

  input,
  textarea {
    width: 100%;
  }
}

.popup-head {
  // padding: 15px 10px;
  padding: 10px 10px 0 10px;
  // 去除header下边框
  //border-bottom: 1px solid #eee;
  text-align: center;
}
.popup-title {
  margin: 0;
  padding: 0;
  font-size: 15px;

  // 标题内的icon
  img {
    width: 55px;
    height: 55px;
    margin: 15px auto;
  }

  // 标题文字
  .title {
    width: 100%;
    // 重定义对话框字体大小和颜色
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #666;
    margin-bottom: 10px;
  }

}

.popup-sub-title {
  // margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
  // font-size: 11px;

  // 重新定义字体大小、颜色、margin-bottom
  font-size: 14px;
  line-height: 22px;
  color: #aaa;
  margin: 0 0 20px 0;
}
.popup-body {
  //padding: 10px;
  padding: 0 10px;
  overflow: auto;
}

.popup-buttons {
  @include display-flex();
  @include flex-direction(row);
  // padding: 10px;
  //min-height: $popup-button-min-height + 20;
  padding: 0 10px 10px 10px;
  min-height: $popup-button-min-height + 10;

  .button {
    @include flex(1);
    display: block;
    min-height: $popup-button-min-height;
    border-radius: $popup-button-border-radius;
    line-height: $popup-button-line-height;

    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }

    // 定义字体大小和颜色
    font-size: 14px !important;
  }
}

.popup-open {
  pointer-events: none;

  &.modal-open .modal {
    pointer-events: none;
  }

  .popup-backdrop, .popup {
    pointer-events: auto;
  }
}
